{% extends 'base.html' %}
{% load util %}

{% block header %}
    <h1 align="center">Invalid header block</h1>
    <h2 align="center">for Registration Form</h2>
{% endblock %}




{% block content %}

{% if not user.is_authenticated %}
<div style="margin:20px 0px 0px 20px;padding:15px 15px 15px 30px;border-style:solid;border-color:rgb(170,170,170);border-width:1px;width:700px">
<p align="center"><h2>If you have attended prior polyspeeddating events, please <a href="http://{{request.META.HTTP_HOST}}{% url "account-login" %}">log in</a> first before registering.</h2>
This will allow the system to give you fresh new dates, and not ones you have previously <i>speed-dated</i>.</p>
<p>If you have forgotten your ID or your password, you can do a
 password reset by going to the <a href="../reset/">Password Reset
 Page</a> and handing over your email address. The system will then email you your username and a link to reset your password. </p>
</div>

{% block formdescription %}
This is a generic registration form.  Go nuts.
{% endblock formdescription %}

{% else %}

{% if user.is_staff %}
<h1>YOU ARE LOGGED IN AS AN ADMIN.  LOG OUT BEFORE REGISTERING!</h1>
{% else %}

{% if is_reregister %}
Welcome back {{ user }}.  Change anything you like to update your registration.
{% else %}
Welcome back {{ user }}!  We are glad to see you registering for another event.
{% endif %}

{% endif %}
{% endif %}

{% block regnote %}
{% endblock regnote %}

<p align="left"><strong>Instructions: </strong>Fill out this form, and click submit.

{% if not is_reregister %}
You will then be directed to Paypal where you will be asked to pay the registration
  fee. </p>
{% endif %}
<hr>


{% block form %}
no form found
{% endblock form %}

{% endblock content %}

