{% extends 'register/baseregform.html' %}

{% load util %}

{% block header %}
{% if is_reregister %}
<h2 align="center">Registration Update Form for {{ user }} at {{ event.longname }} on {{ event.date }}</h2>
{% else %}
<h2 align="center">Registration Form (Individual) for {{ event.longname }} at {{ event.location }} on {{ event.date }}</h2>
{% endif %}
{% endblock header %}


{% block formdescription %}
<p align="left">This is the registration form for individuals.  Filling it out means you
  want to go on dates by yourself. If you want to go on dates as a member of a
  set group (say you are an existing triad that is looking for a fourth of some sort
  or another) then fill in the <a href="../group/{{ event.event }}">other form</a>.</p>
{% endblock formdescription %}


{% block regnote %}

{% if event.no_ssm and not is_reregister %}
<h2>NOTE: Registration for Some Demographic Categories is Now Full.  Some restrictions are in place for some people looking for women only.</h2>
<h2 align="center">Please read</h2>
<ul>

Due to an imbalance in registration demographics, we are having
to <b>cut off registration for solo men who are only looking for
women, trans women, and genderqueers</b> at this time, unless they
bring a woman-identified friend (who can date separately and is not
necessarily your partner).
See <a href="{% url "registration-note" event_name=event.event %}"
target="_blank">this note</a> for more information and a longer
apology.  If you want to come, then follow these steps:

<ol>
<li>
Find a woman-identified friend.  Our apologies, but friends who have
already registered do not count.
</li>
<li>
Have your friend register, and list you as a reference. She should
then give you her Registration ID.
</li>
<li>
Register yourself.  Cite your friend in the "remarks" field so we
don't have you date someone you already know.  Include your friend's
registration ID.
</li>
<!-- <li>Potentially collect free beverage or gift at the event for having someone cite you as a reference!</li> -->
</ol>
<p>Please note that trans men are not affected by this policy at this time.</p>

<p>Again, sorry for the restriction.</p>
</ul>
<hr>
{% endif %}

{% endblock regnote %}


{% block form %}

<form name="individReg" method="post" action="">
{% csrf_token %}
  <p> </p>
  <h2>My name (First, <em>then</em> Last):
    {{ pform.first_name }} {{ pform.last_name }}
  </h2>
  <h2>My desired public name :  {{ rform.nickname }}
</h2>
  <p align="center">This is the name that will be on your name tags,
e.g., "Linda."</p>

  <h2>My email:
    {{ rform.email }}
  </h2>
  <p align="center">Your email will not be shared for any reason.<br>The only emails
    you get will be for this event and, if you check the box below, notices of
    future events.</p>
  <p align="center">
    {{ rform.add_to_mailings }}
    Yes, I want to hear about future Poly Speed Dating (or other related Poly
    Social) events thrown by you folks.</p>


<h2>I am:</h2>
  <blockquote>


<p>{{ pform.seeking_primary }} Not currently in a primary relationship, but potentially interested in one.</p>

<p>{{ pform.kinky }} Kinky. <a href="{% url "about-page"  what="kink" %}" target="_blank">(About the kinkiness.)</a></p>

  </blockquote>

<h2>My age is: {{ pform.age }}</h2>

<hr>

  <h2>What I am open to:</h2>
  <p align="center"><strong>Remember</strong>: <br>
    Be open minded! If you are only looking for a specific, narrow thing then
    you are unlikely to find it <em>and</em> you will
    be unlikely to find the type of situation you didn't even know you wanted.</p>

  <blockquote>

    <p><b>Acceptable age range</b>:&nbsp &nbsp From
      {{ pform.seek_age_min }}
      to
      {{ pform.seek_age_max }}
    </p>

  <p><b>Acceptable Kinkiness</b>:&nbsp;&nbsp;
    {{ pform.seek_kinkiness }}
</blockquote>

<h3>Gender and Sex (<a href="{% url "about-page"  what="gender" %}" target="_blank">Help!</a>)</h3>
<ul>
	<p align="center">Gender matching is complex.  We have attempted to design a system that is all-inclusive and celebratory of the full spectrum of what is possible.  Please read the <a href="{% url "about-page"  what="gender" %}" target="_blank">help section</a> for more about what is going on here.
	<p align="center">

So, you have to answer a <b>preference</b> question on whom you are looking for, and a <b>minimal requirements</b> question about whom your dates should be looking for.

<p>Usually, what you want your dates to be looking for is... you! So femme men will click the box that says their dates should be looking for femme and for men, and so on. You can require your dates to be okay with additional gender categories as well.

</ul>


<table class="stat" align="center" cellspacing=0 cellpadding=0 width="90%">


	<tr>
	<td valign="top">
<b align="center"><b>The preference question</b></b>
	</td>
	<td width="5%">
	</td>
	<td valign="top">
		<b align="center"><b>The minimal requirements question</b></b>
	</td>


	<tr>
	<td valign="top">
	<i>We gauge whether others would be interested in you based on your preferences.
	When this works out both ways, we have a match.
	We do not ask for anyone's sex or gender and thus cannot guarantee any of your dates' sex or gender.</blockquote></i>

	</td>
	<td width="5%">
	</td>
	<td valign="top">
<i>	You will <b>not</b> get matched with anyone <b>not</b> looking for a category you check off.
	<!--For example, if you check off "men," all your matches will be looking for men (and possibly other things as well).--></i>
	<p>
		<i>Just because you check off any of the below does not mean you <b>are</b> any of the below.
	</td>


<tr>
<td width="40%" valing="top">
For this event, <b>I want to date <i color="red">any</i> of the following:</b><br>
<i color="red">(one box means willing, two boxes means preferred)</i>

</td>
<td width="5%">
</td>
<td width="40%" valign="top">
<b>My dates must be open to dating <i color="red">all</i> of the following:</b>
</td>
</tr>

<tr>
<td valign="top">
{{pform.seek_gender}}
</td>

<td width="5%">
</td>

<td valign="top">
{{pform.gender}}
</td>
</tr>

<tr>
<td><hr></td>
<td width="5%"></td>
<td><hr></td>
</tr>

</table>

  <h3>Groups:</h3>
  <p align="center">Some folks will be &quot;dating&quot; as a group. This means
    you might go on a date with <em>all of them at once!</em> <br>  You can elect to only date groups where you theoretically would be interested in everyone in the group, or at least one person in the group.

  <p>That being said:</p>
  <blockquote>

      {{ rform.seek_groups }} I am willing to date groups.<p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ rform.groups_match_all }} But only if I match <em>everyone</em> in the group.<p>

Note: Remember that this is Poly Speed Dating--just because you say no to dating a group does not mean the individuals you do end up dating do not have pre-existing relationships.

  </blockquote>

<!--
<h3>Areas of Residence and/or Employment:</h3>
    <p align="center">As a secondary consideration, we attempt to match you with people from similar geographical areas.  Check all that apply.</p>
I am from:<br>

      {{ rform.location }}
-->
</p>


<hr>

<h2>Friendship Dates:</h2>
<p align="center">Due to the matching process, and depending on who registers, you may have slots in your schedule with no date.  During these times you can either socialize in the social area or, if you like, have us attempt to schedule "friendship dates" with people who mutually <em>do not</em> match you.  Would you like to have a few of these dates?
  <blockquote>

      {{ rform.friend_dates }}        <label>   I want some friendship dates.
  </blockquote>


<!--  <h2>Who do you know?</h2>-->
<h2>Referral:</h2>
  <p>I was referred to PSD by:
    {{ rform.referred_by }}
  </p>
  <p align="center">(Leave blank if no one, or if you don't recall.)</p>


{% if event.has_childcare %}
<h2>Childcare:</h2>
<p align="center">We are planning on providing childcare if at all possible.  Please let us know if you need those services.
<p>
{{ rform.wants_childcare }} Yes, I would love childcare for (please list names and ages of children):
<p>
<blockquote>
  <blockquote>
    <blockquote>
{{ rform.children }}
</blockquote></blockquote></blockquote>
{% endif %}

<h2>Comments/Remarks:</h2>
  <p align="center"> Anything to add?  Anything we should know?</p>
  <blockquote>
        <blockquote>
          <blockquote>
            <p>
              {{ rform.comments }}
            </p>
          </blockquote>
    </blockquote>
  </blockquote>



  <p align="center">
    <input type="submit" name="Submit_Indiv" value="Register Me!">
    <br>
  </p>


</form>

{% endblock form %}

