{% extends 'base.html' %}

{% load util %}

{% block title %}All About the Identity Question{% endblock %}

{% block header%}
All About the Identity Question
{% endblock %}

{% block content %}

<p>
	This is a secondary consideration, meaning that we attempt to match people by this criterion, but will not break a match due to incompatability on this criterion (as compared to, say, gender which can be a deal-breaker).
 Checking off these boxes will never break a potential match; it will only increase the likelihood of one match over another match for a given slot.
	
    <p>
These checkboxes were created based on feedback from prior participants who wanted to more fully express their own identity and also the sorts of people they were looking for. In particular, there was a lot of desires from  femme and butch women to find butch and femme women respectively.

<p>
 These questions are by their very nature quite rough and lack nuance. Nuance is the face-to-face dating; checking off these boxes just increases your odds of sitting down with your perfect future relationship.
<p>
 There is a weird mind game involved: you have to imagine how you want people to answer these questions even when the questions are ill-defined.  OkCupid is another demonstration of this general approach.
 
{% endblock %}
