{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on Intersexed{% endblock %}

{% block header%}
A Note on Intersexed
{% endblock %}

{% block content %}



<p>
    "Intersexed" is a general term describing a number of different
congenital conditions in which a person's physical sex--their
chromosomal, morphologic, genital, and/or gonadal sex--is made up of
a combination of both traditionally male and female characteristics.
One in two thousand people are born with an intersex condition, and although
these conditions are almost never detrimental to their health, most of
them are routinely operated on at birth in an attempt to make their
genitals and/or gonads conform to a more gender binary appearance.
These children are then assigned a single gender and raised male or
female; the choice depending on what their condition was, what surgery
or other treatments were proscribed, and the opinion of their doctor.
Parents are told to keep the diagnosis and any medical treatments that
occurred a secret from the child, so that they can grow up and be a
&quot;normal&quot; boy or girl.  Problems can occur if the child grows up to
identify as a different gender than the one they were assigned,
especially if their body was surgically altered to conform to the
incorrectly assigned gender.</p>
<p> Not all intersexed conditions are visible on the body, even if the
  person is nude.  Some are just nominal variations on otherwise typical
  male/female genitalia.  Others are not visible from outside the body
  at all, such as those involving the internal reproductive system,
  chromosomes, or hormones.  Because the typical medical protocol
  requires secrecy, some people never even discover they are intersexed,
  or they do so by accident as an adult, when undergoing testing
  for some other medical condition. </p>
<p> Intersex issues are often viewed as a subset of LGBT awareness,
  particularly the Transgender/gender identity component.  In reality,
  intersexuality is a biological reality, not a gender identification,
  and there are plenty of people who consider themselves to be simply
  male or female with an intersex condition, the same as any other
  individual characteristic such as being tall or having freckles.
  However, there are also Intersexed people with a capital &quot;I&quot;, whose
  intersexuality strongly factors into their gender identity. </p>
<p> For example, someone who feels that their gender identity is informed
  by their intersexuality might ID themselves as genderqueer as a way to
  recognize that they feel neither male nor female, or that they are a
  combination of both.  Or someone who was assigned female at birth but
  grows up to identify as (and perhaps transition to) male might refer
  to themselves as an intersexed transman.  Intersexed people may
  therefore have a primary gender identification such as male, female,
  genderqueer, or transwoman/man, along with their intersexuality. </p>
<p> We feel that the important thing to focus on for  Speed Dating
  purposes is the person's gender identity and presentation, which is
  why we have not made Intersexed a category choice on your form.  If
  you are looking to date a woman, and you meet someone who is
  intersexed, whose gender identity and presentation is female, and whom
  you think is attractive and would be fun to date, you can then
  respectfully ask her if it's ok to talk about her intersex condition
  and what impact (if any) it has on her romantic life.  Then you can
  make a decision about dating her based on her answer, along with
  whatever other compatibility and lifestyle issues you may consider
  important...just like you would with anyone else. </p>
<p> To read more about intersexuality and intersex conditions, please <a
href="http://www.isna.org/faq/what_is_intersex">go here</a>. </p>


{% endblock %}
