{% extends 'base.html' %}

{% load util %}

{% block title %}About the Monogamy Option with Poly Speed Dating{% endblock %}

{% block header%}<h2>About the Monogamy Option with Poly Speed Dating</h2>{% endblock %}

{% block content %}



<p> 
It is very important to us that we promote inclusive events and based on that we wanted to extend dating to monogamous people, especially monogamous bisexuals who might not fit in at other speed dating events.

<p>
We therefore have a "monogamous" checkbox to indicate a lack of interest in having multiple partners.  
Just as with kinkiness, however, people can elect to date "across the lines."  
Of course, for a match to occur across the lines, both people would have had to check the "either is fine" option.

<p>
We do not recommend dating across the lines, however.
It tends to lead to bitter heartbreak.
You poly folk, especially, should listen to this advice.

<p>
That being said, it can be fun to be in a room full of cool people dating.  
Even if you can't nescessarily be dating all of them.


{% endblock %}
