{% extends 'base.html' %}

{% load util %}

{% block title %}All About Primary in Speed Dating{% endblock %}

{% block header%}
All About Primary in Speed Dating
{% endblock %}

{% block content %}


<p>This checkbox is a secondary consideration in that we attempt to match people by this criterion, but will not break a match due to incompatability on this criterion (as compared to, say, gender which can be a deal-breaker.)
	
    <p>Primary is a term for those who have multiple relationships and want to, for whatever reason, designate one as the primary focus.  
This is a controversial term.

<p>
For monogomous people, we expect that checking off the "primary" checkbox would indicate a desire to find someone to date with an eye to an indefinite or long-term relationship.

<p>
For anyone, we hope that checking this box indicates a desire for (and language gets tricky here) larger time-commitment relationships such as eventual live-in relationships or child-raising relationships.

<p>
On the flip side, if you are just looking for casual dating of whatever sort, don't check this box.

<p>
Of course, this box is not a guarantee of what will happen.
{% endblock %}
