{% load i18n %}{% autoescape off %}

You're receiving this e-mail because you requested a password reset
for your Poly Speed Dating user account {{user.username}}.

Please go to the following page and choose a new password:
{% block reset_link %}
     http://boston.datewrangler.com{% url "password-reset-confirm" uidb36=uid, token=token%}
{% endblock %}

Again, your username is {{ user.username }}.

Please note that if you receive mutiple of these messages, it means
you have multiple accounts.  This is not a good thing!  Please contact
{{ event.info_email|default:"info@polyspeeddating.com" }} and alert us.  The problem with multiple
accounts is we cannot track who you have previously dated.

We look forward to seeing you at the next event!

      - The PSD technical team

{% endautoescape %}


{# this is how to do a comment #}
{# url {{ protocol }}://{{ domain }}  django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token #}
