{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="../../regrecord/">All Registrations</a></li>
    <li><a href="../../regrecord/?people__id={{object_id}}">Registrations</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block form_top %}
<em>{{ original.psdid }}</em>: {{ original.geekcode|safe }}
{% endblock %}

{% block after_field_sets %}
Real id in database: {{ object_id }}
{% endblock %}
