{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on Asexuality{% endblock %}

{% block header%}
A Note on Asexuality
{% endblock %}

{% block content %}

<p>Asexual people are people who have little or no sexual desire.  Identifying
as asexual doesn't mean anything about what else someone might be looking for
in the people they meet tonight. As with many other topics, you will have to
tell your dates about yourself, and listen to what they say in turn!</p>

<p>If you express a strong preference about your partners (that they be
asexual, or that they not be), we will always prioritize dates which fit that
preference, even if that means fewer dates for you overall. However, we may 
still match you with someone who does NOT meet this preference if you are
a match in other ways.</p>

{% endblock %}
