{% extends 'base.html' %}

{% load util %}

{% block title %}About Genderqueer with Poly Speed Dating{% endblock %}

{% block header %}<h2>About Genderqueer with Poly Speed Dating</h2>{% endblock %}

{% block content %}
<p><b>What does 'genderqueer' mean?</b></p>

<p>The word "genderqueer" is used differently by different people, but
generally refers to someone, of whatever gender, who mixes or defies gender
roles. They may express their gender very differently in different situations,
or may do things specifically because those things are unexpected for the
gender identity that they have.</p>

<p><b>What's the difference between that and "non-binary"?</b></p>

<p>At Poly Speed Dating, the difference is that "non-binary" is in the column
of gender categories; a person can be non-binary and have no other descriptions,
and all of their matches must have said that they are open to meeting non-binary
people. Genderqueer, on the other hand, is a modifier; there are genderqueer
women, genderqueer men, genderqueer non-binary people, etc.</p>

<p>If you express a strong preference about your partners (that they be
genderqueer, or that they not be), we will always prioritize dates which fit
that preference, even if that means fewer dates for you overall. However, we
may still match you with someone who does NOT meet this preference if you are a
match in other ways.</p>
{% endblock %}
