{% extends 'base.html' %}

{% load util %}

{% block title %}About Gender with Poly Speed Dating{% endblock %}

{% block header %}<h2>About Gender with Poly Speed Dating</h2>{% endblock %}

{% block content %}



<p>There are countless ways people identify when it comes to sex and gender,
and even more ways those identities affect how people date and relate. Here's how we
try to make our events as inclusive as possible.</p>

<p>
<h3>How It Works</h3>

There are two columns of checkboxes: what you are looking for, and what you want your matches to be looking for.
<p>

The first column is straightforward: check off what you want.  
<p>
The second column is slightly tricky. We phrase the question in a roundabout
manner to move away from questions of personal identity. If you identify
with one of the groups listed, you should at a minimum check off that description
in the second column. For instance, if you are a cis woman, you want your dates
to be open to meeting cis women so that they are open to meeting you!<p>
 
But whether or not the way you describe yourself is listed there, you may also want
to check off other descriptions. For instance, a person who has recently started to
question their gender identity can check off all the categories which *might* apply
to them, so that their dates are not with people whose interest is dependent on
how their questioning works out. Or a person who prefers pansexual partners might check
off several boxes-- not because they fit every category, but because they want dates
who are open to multiple genders.

The situation can be summarized in the following rules: </p>
    <b><p align="center"><em>You can only be matched with people who are looking
      for all the things that you check off in the second column.</em></p></b>
   and<b>
    <p align="center"><em>You will never be matched with people who have checked off a category in the second column that you are not looking for.</em></p>
</b>which means
    <p align="center"><em>For a match to happen, everything in your date's
 second column must be included in your first column (and your second column must include their first column too).</em></p>

<p>

So if someone marked off "trans women" in their second column, and you marked
off "trans women" and "non-binary" in your first column, then they could be a
match for you.  If you had only marked off "non-binary" then they would not be
a match for you because they want people open to trans women and you did not
indicate you were open to such matches.

<p>
No problem, right?  One final note:
    <p align="center"><em>Don't say you are open to something unless
      you actually are!</em></p>
    It is not fun for people to go on dates with people who are definitely not interested in them.
 
<p>


<h3>Intersex</h3>
<p> We currently do not have an &quot;intersex&quot; gender category.  Reasons for
      that are discussed
 <a href="http://boston.datewrangler.com/about/intersex">here</a>.

In short, intersex people may identitfy as any gender or genders, and
      we hope they will fill their forms out accordingly.  We feel that the
      important thing to focus on for Poly Speed Dating purposes is what
      gender identity and presentations people are open to, which is why we have not
      made Intersex a category choice. </p>


<h3>Strategies</h3>

In general, you get more dates by checking off <b>more</b> categories in the first column,
and <b>fewer</b> categories in the second column.

<p>
We encourage folks to check off anything they are okay with in the first
column, since one's first column picks must include all of a potential match's
second column picks.

<p>&nbsp;</p>


{% endblock %}
