{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on miscellaneous identity questions{% endblock %}

{% block header%}
A Note on identity
{% endblock %}

{% block content %}

<p>Unlike with gender and age, we don't guarantee that your matches will
fit what you ask for in this section, and no matter what answers you give in
this section, you will get the same number of dates.</p>

<p>So what do we use these questions for? We try to nudge people who might be
slightly better matches for one another together. For example, if you say you
are looking to meet geeky people, you will probably have more geeky dates than
random chance would produce, but you will still also be matched with non-geeky
people.</p>

<p>You can check off as many or as few boxes as you want here, including zero.</p>

{% endblock %}
