{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on Kink{% endblock %}

{% block header%}
A Note on Kink
{% endblock %}

{% block content %}

<p>What counts as "kink" and which people are "kinky"?</p>

<p><b>Broadly speaking</b>, this question on our registration form is intended
for people who are interested in BDSM, power exchange, or any of the other
practices that get lumped in with 'kink' out there.</p>

<p>But a lot of people ask us "what if I'm just SORT OF kinky?" That's a fair
question. We've found that people take a pretty broad view with this question--
when you meet "kinky" people at Poly Speed Dating you will meet people who enjoy
kink but don't need or expect it in their lives, and you will also meet people
for whom it is the foundation of how they interact with people they date. As
in many other ways, we use our matching to set you up on dates with people you
MIGHT be a good match with; you'll have to talk to one another to know whether
you ARE a good match.</p>

<p>If you express a strong preference about your partners (that they be
kinky, or that they not be), we will always prioritize dates which fit that
preference, even if that means fewer dates for you overall. However, we may 
still match you with someone who does NOT meet this preference if you are
a match in other ways. Always communicate with your dates!</p>

{% endblock %}
