{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on Monogamy{% endblock %}

{% block header%}
A Note on Monogamy
{% endblock %}

{% block content %}

<p>You may be wondering why there's a checkbox about monogamy at Poly Speed Dating.</p>

<p>If you <b>definitely</b> want monogamy, this may not be the event for you.
However, some people are happy in both monogamous and non-monogamous
relationships, depending on their partner, other events in their life, and so
on. While we designed this event for the poly community, we want to be
accessible for everybody who enters relationships that don't contain the
<b>unspoken presumption</b> of monogamy-- that includes structures like
swinging, open relationships and relationship anarchy, AND it includes people
who don't presume monogamy but who have sometimes happily engaged in it and
might again.</p>

<p>If you express a strong preference that your partners enjoy monogamy, we
will always prioritize dates which fit that preference, even if that means
fewer dates for you overall. However, we may still match you with someone who
does NOT meet this preference if you are a match in other ways.</p>

<p>If you do not ever enjoy monogamy (i.e. you did not check the box), then
whether a potential date did check the box or not will have no effect on your
matching.</p>

{% endblock %}
