{% extends 'base.html' %}

{% load util %}

{% block title %}A Note on Pronouns at Our Events{% endblock %}

{% block header%}
<h2>A Note on Pronouns at Our Events</h2>
{% endblock %}


{% block content %}

<p>We invite people to add their preferred pronouns to their nametags via the
"pronoun" field. Your pronoun text will be printed below your name and speed dating
ID, allowing people to talk about you to other people. This can come up in many
ways at Poly Speed Dating, e.g. catching up with friends ("Do you know J? I
just had a nice speed date with them.") and chatting in small groups ("Oh, K
was just saying he likes iguanas, weren't you, K?")</p> </p>

<p>At this event, when you don't know someone's pronoun, we ask you to try and simply
use no pronouns*, or default to "they". Using the wrong pronoun for someone is a way
of misgendering them, very similar to calling someone a man instead of a woman,
and it's insulting or upsetting to many people at Poly Speed Dating. We expect
PSD attendees to acquire the skill of using pronouns correctly if they don't
already have it. For more advice on that, see below.

<p>* There are many ways of using no specific pronouns for someone, such as
re-using their name ("Sheila was just talking about Sheila's roommate."), using
'that person' ("I can't see that person's nametag."), restructuring sentences
("Sheila and I were just talking about roommates"), and more. In small groups
you may also be able to avoid pronoun use by shifting focus to someone directly:
"Sheila was just talking about-- [turn to Sheila] You said your roommate bought
a giraffe?"


    <h2>Pronoun Practice!</h2>

<p>Learning a new pronoun for someone takes repetition and active
learning. It doesn't magically happen just because you're a good person.
And similarly, when you get it wrong, there doesn't mean there's
something wrong with you; it just means you haven't acquired this skill
yet.</p>

<p>But it is important to acquire it. It's difficult to be friends or
acquaintances with trans people and their allies if you don't have your
pronoun game together yet. And because it IS an acquirable skill, not
just a thing some people are better at than others, at *some* point not
having the skill means you're saying you don't think it's worth doing.
That is not a message you want to send to friends or, for that matter,
to strangers. Especially when you're at an event to meet strangers.</p>

<p>So how do you do it? Practice.</p>

<p>Our best tip is: <b>When you get someone's pronouns wrong, apologize briefly and repeat
the thing you just said, except with the pronoun you wish you had used.</b></p>

<p>Important note: You may feel bad about yourself when this happens, but don't
turn it into a conversation about how bad you feel or give explanations for
your mistake to try to feel better; it's not the time for that. Just repeat
your whole sentence with the pronoun corrected, so that you get a little
practice AND everybody can return to the conversation that was already in
progress.</p>

<p>Our other best tip is: <b>Make opportunities to get it right.</b> This is easy
when speed dating because you'll be meeting so many people in one evening, and
talking about the people you met to friends or to other people you've just met
(this is also why it's so important to have this skill here).</p>

<p>You can talk about a person when they're not around! Tell stories about the
dates you just went on. You don't even have to tell them to anyone in
particular; you can talk to the mirror. You can also talk about fictional
people, or people you read about on the internet.</p>

<p>So create situations for yourself where you're using someone's pronoun-- just
also make sure you're paying attention when you do it, so that you practice
getting it right, not practice getting it wrong.</p>

<p>---</p>

<p>For those who want a lot more detail about this-- both more topics and
more techniques-- there's an ebook by Davey Shlasko available online for a
sliding cost of $1-12 (recommended default $6) <a
href="https://www.thinkagaintraining.com/shop/">here</a>. Chapter 4 is the one
with lots of ways to improve at pronouns (at least, in the edition we read most
recently). But reading that book is extra credit. Anybody can become skilled
with pronouns if they practice. It may take less practice than you think or it
might take more, but you can do it, and it is one of the skills we expect Poly
Speed Daters to acquire and use if they do not already have it.</p>

{% endblock %}
