{% extends 'base.html' %}

{% load util %}

{% block title %}About the Spanish Language Option with Poly Speed Dating{% endblock %}

{% block header%}<h2>About the Spanish Language Option with Poly Speed Dating</h2>{% endblock %}

{% block content %}



<p>It is very important to us that we promote inclusive events and based on that
we wanted to attempt to better accommodate those who speak Spanish as a primary
language (although we recognize that this event is very English-language
intensive).

<p>We therefore have a "Spanish" checkbox so we can attempt to preferentially
match those who can speak Spanish to people where such facility could improve
their speed dating experience.

<p>If you check the box, we will prioritize matches with other Spanish-language
speakers that match on the specifics of your profile, but you will still be matched
with people who did not check the box as long as they fit your other preferences.</p>

<p>If you do not check the box, it will have no effect on your matching whether
potential matches did check the box or not.</p>


{% endblock %}
