{% extends 'base.html' %}

{% load util %}

{% block title %}About the dating volunteers consent question{% endblock %}

{% block header%}<h2>About the dating volunteers consent question</h2>{% endblock %}

{% block content %}

<p> 
It is very important to ensure that everyone has as comfortable a dating experience as possible.
Therefore, we will only match people with volunteers and staff (potentially
including organizers) if they explicitly give consent.

<p>
There is a mild conflict in the principles of speed dating when staff also
date. We prioritize keeping your demographic information and your preferences
private from other daters, but staff (especially organizers) could have viewed
your registration form data or, during final data entry, your date sheet.</p>

<p>There is also a potential for power imbalance due to the nature of the event.
Daters who do not want to be exposed to that power imbalance in the first place
can leave the box unchecked.* 

<p>However, we want our volunteers and staff to be able to date if they so
choose, and thus have added this question in an effort to have our cake and eat
it too.

<p>* (Misuse of information and organizational power are not okay in any case;
reports of misconduct by volunteers and staff will be taken as seriously as any
other reports, and whether a dater has checked this box, or any other, is not
relevant.)


{% endblock %}
