{% extends 'base.html' %}

{% load util %}

{% block title %}All About Groups in PSD{% endblock %}

{% block header%}
All About Groups in PSD
{% endblock %}

{% block content %}



    <p>As an individual, there are two ways to date groups: any or all.  In
      the &quot;Any&quot; camp, you are saying you would date a single member of a
      group, even if the other member is not a match according to your
      specifications.   &quot;All&quot; requires that you match all the members of the
      group, with one exception described later.  Groups can also specify
      whether they want folks to match all of them or any of them as well. 
      In the first case, they would not be willing to date an individual unless that
      individual is a match all around.  In the second case, if any member
      of the group would want to date someone, the group would go for it. 
      Group members can also say they are not looking.  This means they are
      along for the ride, but are not interested in dating.  This may
      happen, for example, if one partner is supporting their partner pick
      up hot gay boys.  So even if you as an individual checked &quot;all&quot; you
      might get matched with such a group since their partner, while
      present, in some sense doesn't &quot;count&quot;.  Group-group matching is a
      headache--but it makes for fun dates. </p>
    <h2>Example #1 -- Hot Male Action</h2>
A MF couple is looking to find a man to date the man of the group.  The woman wants to be a friend, and participate in the those aspects of the relationship, but is not interested in sex with any more men.  They would then fill out the form with the woman looking for &quot;none&quot;, the man looking for &quot;men,&quot; and possibly &quot;genderqueer/other&quot;, and the &quot;Any or All&quot; button would have no effect.  Now this group will match any men looking for men that provided an age range that included the male in the group.
<h2>Example #2 -- The Classic Bi Babe Hunt</h2>
A MF couple is looking for someone to date both of them.  Then both
individuals of the group would fill out that they are looking for men
or women, and they would check off the &quot;all&quot; button at the bottom.
This means they would only match those who would be interested
in <em>both</em> members of the group, i.e. bi people.
<h2>Example #3 -- The Finding Anyone Plan</h2>
A MMF triad is looking for someone to date some number of themselves.
They would all put what they were looking for--say the first man is
looking for men and genderqueers, the second is looking for men and women, and the woman is looking for anything.  
They would check off &quot;Any&quot; at the end, which means gay men would match, lesbians would
match, bisexuals would match... the list goes on.  They would probably
have to make clear to the folks they talked to that they weren't all
expecting to date, so their dates would indicate interest on their
forms.


{% endblock %}
