{% extends 'register/baseregform.html' %}

{% load util %}

{% block header %}
{% if is_reregister %}
<h2 align="center">Registration Update Form</h2><BR><B>For {{ user }}<BR>At {{ event.longname }}<BR>On {{ event.date }}</B>
{% else %}
<h2 align="center">Registration Form (Individual)</h2><BR><B>For {{ event.longname }}<BR>At {{ event.location }}<BR>On {{ event.date }}</B>
{% endif %}
{% endblock header %}


{% block formdescription %}
<p align="left">This is the registration form for individuals.  Filling it out means you
  want to go on dates by yourself. If a group of you want to go on dates together as a member of a
  set group (say you are an existing triad that is looking for a fourth)
  then fill in the <a href="../group/{{ event.event }}">Groups registration form</a>
  instead of this one.</p>
{% endblock formdescription %}


{% block regnote %}

{% if event.no_ssm and not is_reregister %}
<h2>Registration for Solo Men is Now Full.<BR> If you are a solo man looking only for women, please read this.</h2>
<ul>

Due to an imbalance in registration demographics, we are having
to <b>cut off registration for solo men who are only looking for
women, trans women, and genderqueers</b> at this time, unless they
bring a woman-identified friend (who can date separately and is not
necessarily your partner).
See <a href="{% url "registration-note" event_name=event.event %}"
target="_blank">this note</a> for more information and a longer
apology. If you are a solo man looking only for women and still want to come, then you must follow these steps:

<ol>
<li>
<B>First</B> find a woman-identified friend.  Our apologies, but friends who have
already registered do not count.
</li>
<li>
<B>Next</B> have your friend register before you register, and list you as a reference by giving
your name in the notes field at the bottom of her registration form.
She should then give you her Registration ID.
</li>
<li>
<B>Finally</B> register yourself.  Give your friend's name or Registration ID in the
notes field at the bottom of your own registration form.
</li>
<!-- <li>Potentially collect free beverage or gift at the event for having someone cite you as a reference!</li> -->
</ol>
<p>Please note that trans men are not affected by this policy at this time.</p>

<p>Again, sorry for the restriction.</p>
</ul>
<hr>
{% endif %}

{% endblock regnote %}


{% block form %}

<form name="individReg" method="post" action="">
{% csrf_token %}
  <p> </p>
  <h2>Your real name (First, <em>then</em> Last):
    {{ pform.first_name }} {{ pform.last_name }}
  </h2>
  <h2>Your desired public name:  {{ rform.nickname }}
</h2>
  <p align="left">This is the name that will be on your name tags, for example "Linda."</p>

  <h2>Your email address:
    {{ rform.email }}
  </h2>
  <p align="left">Your email will not be shared for any reason.<br>The only emails
    you get will be for this event and, if you check the box below, notices of
    future events.</p>
  <p align="left">
    {{ rform.add_to_mailings }}
    Yes, I want to hear about future Poly Speed Dating (or other related Poly
    Social) events thrown by you folks.</p>


<h2>You are (check all that apply):</h2>
  <blockquote>


<p>{{ pform.seeking_primary }} Not currently in a primary relationship, but potentially interested in one.</p>

<p>{{ pform.kinky }} Kinky. <a href="{% url "about-page"  what="kink" %}" target="_blank">(About the kinkiness.)</a></p>

  </blockquote>

<h2>Your age is: {{ pform.age }}</h2>

<hr>

  <h2>You are looking for:</h2>
  <p align="left"><strong>Remember</strong>: <br>
    Be open minded! If you are only looking for a specific, narrow thing then
    you are unlikely to find it <em>and</em> you will
    be unlikely to find the type of situation you didn't even know you wanted.</p>

  <blockquote>

    <p><b>Acceptable age range</b>:&nbsp &nbsp From
      {{ pform.seek_age_min }}
      to
      {{ pform.seek_age_max }}
    </p>

  <p><b>Acceptable Kinkiness</b>:&nbsp;&nbsp;
    {{ pform.seek_kinkiness }}
</blockquote>

<h3>Gender and Sex (<a href="{% url "about-page"  what="gender" %}" target="_blank">About this option</a>)</h3>
<ul>

<p align="left">Gender matching is complex because humans are complex.  We have
attempted to design a system that is all-inclusive and
celebratory of the full spectrum of what is possible.  Please
read the <a href="{% url "about-page"  what="gender" %}"
target="_blank">help section on gender</a> for more about what is going on here if you are
at all confused. Be sure you understand, because the sorts of people you'll be matched with depends a lot on what you do here.
</p>

</ul>


<table class="stat" align="center" cellspacing=0 cellpadding=0 width="90%">


<!-- <tr>
<td valign="top">
<b align="center"><b>The preference question</b></b>
</td>
<td width="5%">
</td>
<td valign="top">
<b align="center"><b>The minimal requirements question</b></b>
</td>
-->


<tr>
<td width="40%" valign="top">
<b>I want to date <i>any</i> of the following:</b>
<i>(checking one box means willing, two boxes means preferred)</i>

</td>
<td width="5%">
</td>
<td width="40%" valign="top">
<b>I am:</b> <i>(check the box(es) that describe who you are)</i>
</td>
</tr>

<tr>
<td valign="top">
{{pform.seek_gender}}
</td>

<td width="5%">
</td>

<td valign="top">
{{pform.gender}}
</td>
</tr>

<tr>
<td><hr></td>
<td width="5%"></td>
<td><hr></td>
</tr>

<tr>
<td valign="top">
<i>  We do not explicitly ask for anyone's sex or gender and thus
cannot guarantee any of your dates' gender.
</i>

</td>
<td width="5%">
</td>
<td valign="top">

<i>Your dates must be willing to date someone in all the categories you list above. Want more dates? Check fewer boxes.
</i>

<p>
<!-- <i>Just because you check off any of the above does not mean you <b>are</b> any of the below.  -->
</td>



</table>

{% comment %}
The following auto-loads the extra questions, if any.
form.fields.1 being true means there is a 'seek' component so the
question is really a pair.
{% endcomment %}

{% if pform.extra_fields %}
<h3>More questions...</h3>
<ul>
<table class="stat" align="left" cellspacing=0 cellpadding=0 width="100%">
<tr>
<td width=15%></td>
<td width=5%></td>
<td width=35%></td>
<td width=35%></td>
</tr>

{% for q in pform.extra_fields %}

{% if q.form_fields.1 %}
<tr>
<td><b>{{ q.question }}</b> <br> {{ q.explanation }}</td>
<td></td>
<td>My answer...<br>{{ q.form_fields.0 }}</td>
<td>I am open to people who answered...<br>{{ q.form_fields.1 }}</td>
</tr>

<tr>
<td></td>
<td colspan=3><hr></td>
</tr>

{% else %}

<tr>
<td><b>{{ q.question }}</b> {{ q.explanation }}</td>
<td></td>
<td colspan=2 align="left">{{ q.form_fields.0 }}</td>
</tr>

<tr>
<td></td>
<td colspan=3><hr></td>
</tr>
{% endif %}
{% endfor %}
</table>
</ul>
{% endif %}

<h3>Groups:</h3>
  <p align="left">Some folks will be "dating" as a group. This means you might go on a date with <em>all of them at once!</em> <br>  You can elect to only date groups where you theoretically would be interested in everyone in the group, or at least one person in the group.

  <p>That being said:</p>
  <blockquote>

      {{ rform.seek_groups }} I am willing to date groups.<p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ rform.groups_match_all }} But only if I match <em>everyone</em> in the group.<p>

  </blockquote>
<P>Remember that this is Poly Speed Dating. Just because you say no to dating a group does not mean the individuals you do end up dating do not have pre-existing relationships.</P>


<h3>Areas of Residence and/or Employment:</h3>
    <p align="left">As a secondary consideration, we attempt to match you with people from similar geographical areas.  Check all that apply.</p>
<b>I live or work in these areas:</b><br>

      {{ rform.location }}

</p>


<hr>

<h2>Friendship Dates:</h2>
<p align="left">Due to the matching process, and depending on who registers, you may have slots in your schedule with no date.  During these times you can either socialize in the social area or, if you like, have us attempt to schedule "friendship dates" with people who mutually <em>do not</em> match you.  Would you like to have a few of these dates?
  <blockquote>

      {{ rform.friend_dates }}        <label>   I want some friendship dates.
  </blockquote>


<!--  <h2>Who do you know?</h2>-->
<h2>Referral:</h2>
  <p>I was referred to PSD by:
    {{ rform.referred_by }}
  </p>
  <p align="left">(Leave blank if no one, or if you don't recall.)</p>


{% if event.has_childcare %}
<h2>Childcare:</h2>
<p align="left">We are planning on providing childcare if at all possible.  Please let us know if you need those services.
<p>
{{ rform.wants_childcare }} Yes, I would love childcare for (please list names and ages of children):
<p>
<blockquote>
  <blockquote>
    <blockquote>
{{ rform.children }}
</blockquote></blockquote></blockquote>
{% endif %}

  <h2>BmorePoly Handle, also Comments/Remarks</h2>
  <p align="left">What is your username (handle) on <a href="http://meetup.com/BmorePoly">BmorePoly</a>? To make this all work you also need to RSVP to the <a href="http://meetup.com/BmorePoly">BmorePoly</a> meetup event. Also, anything to add?  Anything we should know?
{% if event.no_ssm and not is_reregister %}
<B>Solo single males looking only for women: you must list your female gender balance here in order to register!</B>
{% endif %}
</p>
  <blockquote>
    <blockquote>
       <blockquote>
         <p>
         {{ rform.comments }}
         </p>
       </blockquote>
    </blockquote>
  </blockquote>



  <p align="center">
    <input type="submit" name="Submit_Indiv" value="Register Me!">
    <br>
  </p>


</form>

{% endblock form %}

